.month {
  margin: 15px;
}

.week {
  min-height: 100px;
}

.week .day {
  text-align: right;
  border: 1px solid black;
}

.day {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 5px;
  text-align: center;
}

.today {
  background-color: #e6e3d9;
}

.active {
  background-color: #d9e6e3;
}

.inactive {
  color: #276669;
}