<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
	lang="en">
<head>
<title></title>
<style>
.AddEntry {
	font-size: 25px;
}
</style>
</head>
<body>
	<wicket:panel>
		<div class="table_ledger_info" style="margin-top: 40px">
			<div
				style="text-align: center; width: 100%; font-size: 25px; margin-top: 5px">
				<span style="display: inline-block; text-align: center">Ledger</span>
				<a href="#" style="float: right; margin-right: 10px;"
					wicket:id="lnkAddEntry"><i class='fa fa-plus'
					aria-hidden='true'></i></a>
			</div>
			<table>
				<tr>
					<td>Bill</td>
					<td>Amount Due</td>
					<td>Due Date</td>
					<td>Date Paid</td>
					<td>Action</td>
				</tr>

				<tr wicket:id="lstLedgerEntries">
					<td wicket:id="strBillName">[Bill Name]</td>
					<td wicket:id="strAmountDue">[Amount Due]</td>
					<td wicket:id="strDueDate">[Due Date]</td>
					<td wicket:id="strDatePaid">[Date Paid]</td>
					<td><a href="#" wicket:id="lnkDelete"><i
							class="fa fa-trash" aria-hidden="true"></i></a></td>
				</tr>
			</table>
		</div>
	</wicket:panel>
</body>
</html>